.home__section {
  margin-left: 400px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.home__main-screen {
  border-right: var(--main-border);
}

.home__header {
  font-size: 18px;
  font-weight: 600;
  padding: 15px;
}

.home__main img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px 15px;
}

.twit__Input {
  display: flex;
  align-items: center;
  border-top: var(--main-border);
}

.twit__Input input {
  font-size: 20px;
}

.twit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--main-border);
}

.twitIcon {
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
  margin-left: 70px;
  font-size: 18px;
}

.twitIcon i {
  cursor: pointer;
  margin: 0 10px;
}

.twitBtn {
  text-align: end;
  padding: 7px 20px;
}

.twitBtn button {
  cursor: pointer;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #1d9bf0;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.mainPost {
  position: relative;
  height: 100%;
  border-bottom: var(--main-border);
}

.mainPost:hover {
  background-color: var(--hover-color);
  transition: all 0.3s ease;
}

.postTitle {
  display: flex;
}

.postTitleInfo,
.postTitle i {
  margin-top: 10px;
}

.postTitleInfo span:first-child {
  font-size: 14px;
  font-weight: 600;
}

.postTitleInfo span:last-child {
  font-size: 14px;
  opacity: 0.7;
}

.postTitle i {
  margin-left: auto;
  margin-right: 10px;
  opacity: 0.7;
}

.post {
  top: 20px;
  position: absolute;
  margin-left: 80px;
  width: 50%;
  opacity: 0.8;
}

.postIcon {
  display: flex;
  justify-content: space-around;
  padding: 0 35px;
  opacity: 0.8;
  font-size: 14px;
  margin: 120px 0 20px 0;
}

.comment:hover,
.share:hover {
  cursor: pointer;
  color: var(--main-color);
}

.retweet:hover {
  cursor: pointer;
  color: #6cd5b2;
}

.heart:hover {
  cursor: pointer;
  color: #f873b1;
}
