.login__screen {
  display: flex;
}

.login-img__screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 95vh;
  background-color: #f5f5f5;
}

.login__img {
  width: 320px;
}

.login__user {
  min-width: 55vw;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login__user > i {
  font-size: 40px;
  margin-bottom: 10px;
}

.login__user-title {
  font-size: 56px;
}

.login__user-subTitle {
  font-size: 30px;
}

.social-login {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: 15px;
  font-size: 15px;
}

.social-login:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.4s linear;
}

.social-login a > i {
  margin-right: 5px;
}

.createAccount span:last-child {
  cursor: pointer;
  color: #64a2e8;
}

.login__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  opacity: 0.7;
}

.login__footer > ul {
  padding: 0;
  display: flex;
}

.login__footer > ul li {
  margin: 0 10px;
}

.login__footer > ul li:hover {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}
