@import "variables.css";
@import "login.css";
@import "home.css";
@import "search.css";
@import "nav.css";

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  border: none;
  outline: none;
}

.fa-twitter {
  color: var(--main-color);
}
